<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>vijay.html</title>
  <meta charset = "UTF-8" />
</head>
<body>
<h1>Cerner</h1>
<form>
  <fieldset>
    <legend>Text input</legend>
    <p>
      <label>Username</label>
      <input type = "Username"
             id = "myText"
                             />
    </p>

  </fieldset>

  <fieldset>
    <legend>Text input</legend>
    <p>
      <label>Password</label>
      <input type = "Password"
             id = "myPassword"
                                 />
    </p>
    <form method="get" action="www.google.co.in">
      <button type="submit">Continue</button>
    </form>
  </fieldset>
</form>
</body>
</html>